.notes-list {
    background: violet;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.user {
    background: red;
    text-align: center;
}

.note-wrapper {
    background: salmon;
}