.button-create {
    border: 0px;
    background-color: #f2f2f2;
    color: #1a73e8;
    font-weight: bold;
    float: left;
    margin-top: 10px;
    cursor: pointer;
}

.button-userLogin{
    float: right;
    background-color: #1a73e8;
    border: 2px;
    border-radius: 5px;
    width: 88px;
    height: 36px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}